*.iml
.idea
cluster-boost-core/target
cluster-boost-ignite/target
cluster-boost-ignite-audit/target

/examples/.idea
/examples/example-01/target
/examples/example-02/target
/examples/example-03/target
/examples/example-04/target
/examples/example-05/target

ignite
